.container{
    animation-name: exampley;
    animation-duration: 2s;
    position: relative;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes exampley {
    0%   {left:0px; top:0px;}
    25%  { left:20px; top:0px;}
    50%  { left:20px; top:20px;}
    75%  { left:0px; top:20px;}
    100% {left:0px; top:0px;}
  }