@import url(https://fonts.googleapis.com/css?family=Red+Rose:300,regular,500,600,700); 
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Red Rose', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
